.result-container {
  padding: 60px 0 40px;
  font-family: 'Arial', sans-serif;
  max-width: 1300px;
  margin: 0 auto;
}
.title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}
.result-card {
  display: flex;
  gap: 60px;
  background: #fafbfc;
  border-radius: 20px;
  box-shadow: 0 0 10px #ececec;
  padding: 40px 30px 32px 40px;
  align-items: flex-start;
  justify-content: flex-start;
}
.result-left {
  min-width: 210px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.imgbox {
  margin: 12px 0 0 0;
  background: #222;
  border-radius: 6px;
  overflow: hidden;
  width: 210px;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgbox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.result-right {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}
.ef-area {
  margin-top: 16px;
  margin-left: 410px;
  text-align: right;
}
.ef-label {
  font-size: 22px;
  font-weight: bold;
}
.ef-value {
  font-size: 44px;
  color: #154af7;
}
.process-log {
  margin-top: 42px;
}
.process-log h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.process-log ul {
  list-style: none;
  padding: 16px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 20px;
}
.process-log li {
  font-size: 16px;
  margin-bottom: 5px;
}
